thesis_proposal.synctex.gz
thesis_proposal.bbl
thesis_proposal.aux
thesis_proposal.bcf
thesis_proposal.blg
thesis_proposal.fdb_latexmk
thesis_proposal.fls
thesis_proposal.log
thesis_proposal.out
thesis_proposal.pdf
thesis_proposal.synctex.gz
